:root {
  --fivestars-star-off-url: url(star.svg);
  --fivestars-star-on-url: url(star-active.svg);
  --fivestars-star-width: 22px;
  --fivestars-star-height: 20px;
  --fivestars-stars-gap: 5px;
  --fivestars-stars-off-urls:
    var(--fivestars-star-off-url),
    var(--fivestars-star-off-url),
    var(--fivestars-star-off-url),
    var(--fivestars-star-off-url),
    var(--fivestars-star-off-url);
  --fivestars-stars-on-urls:
    var(--fivestars-star-on-url),
    var(--fivestars-star-on-url),
    var(--fivestars-star-on-url),
    var(--fivestars-star-on-url),
    var(--fivestars-star-on-url);
}

/* Form element */
.form-fivestars {
  position: relative;
  width: calc(var(--fivestars-star-width) * 5 + var(--fivestars-stars-gap) * 4);
  height: var(--fivestars-star-height);
  background-image: var(--fivestars-stars-off-urls);
  background-position:
    0 0,
    calc(var(--fivestars-star-width) * 1 + var(--fivestars-stars-gap) * 1) 0,
    calc(var(--fivestars-star-width) * 2 + var(--fivestars-stars-gap) * 2) 0,
    calc(var(--fivestars-star-width) * 3 + var(--fivestars-stars-gap) * 3) 0,
    calc(var(--fivestars-star-width) * 4 + var(--fivestars-stars-gap) * 4) 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.form-fivestars input {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.form-fivestars label {
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-repeat: no-repeat !important;
  background-size: auto 100% !important;
  cursor: pointer;
  border: none;
  border-radius: 0;
  outline: none;
}
.form-fivestars label:hover,
.form-fivestars input:checked + label {
  background-image: var(--fivestars-stars-on-urls);
  background-position:
    0 0,
    calc(var(--fivestars-star-width) * 1 + var(--fivestars-stars-gap) * 1) 0,
    calc(var(--fivestars-star-width) * 2 + var(--fivestars-stars-gap) * 2) 0,
    calc(var(--fivestars-star-width) * 3 + var(--fivestars-stars-gap) * 3) 0,
    calc(var(--fivestars-star-width) * 4 + var(--fivestars-stars-gap) * 4) 0;
}
.form-fivestars label:hover ~ label {
  background-image: var(--fivestars-stars-off-urls);
}
.form-fivestars label:nth-of-type(1) {
  display: none;
  z-index: 6;
}
.form-fivestars label:nth-of-type(2) {
  z-index: 5;
  width: 20%;
}
.form-fivestars label:nth-of-type(3) {
  z-index: 4;
  width: 40%;
}
.form-fivestars label:nth-of-type(4) {
  z-index: 3;
  width: 60%;
}
.form-fivestars label:nth-of-type(5) {
  z-index: 2;
  width: 80%;
}
.form-fivestars label:nth-of-type(6) {
  z-index: 1;
  width: 100%;
}
.form-fivestars label::before {
  display: none;
}

/* Formatter */
.fivestars {
  width: calc(var(--fivestars-star-width) * 5 + var(--fivestars-stars-gap) * 4);
  height: var(--fivestars-star-height);
  background-image: var(--fivestars-stars-off-urls);
  background-position:
    0 0,
    calc(var(--fivestars-star-width) * 1 + var(--fivestars-stars-gap) * 1) 0,
    calc(var(--fivestars-star-width) * 2 + var(--fivestars-stars-gap) * 2) 0,
    calc(var(--fivestars-star-width) * 3 + var(--fivestars-stars-gap) * 3) 0,
    calc(var(--fivestars-star-width) * 4 + var(--fivestars-stars-gap) * 4) 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.fivestars__value {
  position: relative;
  overflow: hidden;
  height: 100%;
  text-indent: -9999px;
}
.fivestars__value::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--fivestars-stars-on-urls);
  background-position:
    0 0,
    calc(var(--fivestars-star-width) * 1 + var(--fivestars-stars-gap) * 1) 0,
    calc(var(--fivestars-star-width) * 2 + var(--fivestars-stars-gap) * 2) 0,
    calc(var(--fivestars-star-width) * 3 + var(--fivestars-stars-gap) * 3) 0,
    calc(var(--fivestars-star-width) * 4 + var(--fivestars-stars-gap) * 4) 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
